<ion-content class="has-header view-content" style="margin-top: 44px;" scroll="true" >
    <div class="row ">
      <div id="folderName" class="col">
        <div class="col-box">
            <p class="large-icon rounded-profile-thumb">
              <i class="icon ion-android-person"></i>
            </p>
          <p style="text-align: center"></p>
          <button class="button button-positive button-block button-small icon ion-plus" ng-click="accountPopup()">
            Edit Profile.
          </button>
          <button class="button button-positive button-block button-small icon ion-plus" ng-click="doLogout()">
            Logout
          </button>
        </div>
      </div>
    </div>
  </ion-content>
