<ion-view>
    <div class="is-request-loading" ng-show="mainCfg.isRequesting">
      <i class="fa fa-circle-o-notch fa-spin"></i>
    </div>
    <ion-side-menus ng-controller="MainCtrl">

      <ion-side-menu-content drag-content="true">
        <ion-nav-bar ng-init="uiPage = {}">
          <ion-nav-back-button class="button-clear"><i class="icon ion-ios7-arrow-back"></i> </ion-nav-back-button>
          <ion-nav-buttons side="left">
            <h1 class="title"><img src="./img/logo.png" img-cache></h1>
          </ion-nav-buttons>
          <ion-nav-buttons side="right">
              <div class="nav-buttons-primary ">
                <button class="button button-icon" ng-click="select_up_action()">
                  <i class="fa fa-map-marker"></i>
                </button>
                <button class="button button-icon" ng-click="uiPage.showSearchSubheader = !uiPage.showSearchSubheader">
                  <i class="fa fa-search"></i>
                </button>
                <button class="button button-icon" ng-click="doSomething()">
                  <i class="fa fa-user"></i>
                </button>
              </div>
          </ion-nav-buttons>
          <div class="bar bar-subheader themed-background-fire search-header item-input-inset">
            <label class="item-input-wrapper themed-background-fire">
              <i class="icon ion-search placeholder-icon"></i>
              <input type="search" placeholder="Search">
            </label>
          </div>
        </ion-nav-bar>
        <ion-nav-view name="viewContent" animation="slide-left-right"></ion-nav-view>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <ion-content id="sidebar" class="">
          <ion-list class="sidebar-nav">
            <ion-item nav-clear menu-close ng-href="#/app/auth/welcome" active-href class="">
              Welcome
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/auth/login" active-href class="">
              Sign In
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/auth/register" active-href class="">
              Register
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/auth/forgotpw" active-href class="">
              Forgot Password
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/tc/home" active-href class="">
              Landing Page
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/tc/locations" active-href class="">
              Location Feed
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/tc/location/01" active-href class="">
              Location Profile
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/tc/me" active-href class="">
              User Profile
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/tc/me/achievements" active-href class="">
              User Achievements
            </ion-item>
            <ion-item nav-clear menu-close ng-href="#/app/tc/me/activity" active-href class="">
              Activity Page
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu>
    </ion-side-menus>
</ion-view>