  <ion-content class="has-header view-content has-subheader" scroll="false" style="background-color: #52152a">
    <div class="list card has-header map-holder">


    <div class="item item-body map-area">
        <app-map style="height:400px;" markers="whoiswhere" is-gmaps-loaded="viewParams.isLoadingGmaps" error-loading-gmaps="viewParams.errorLoadingGmaps">
        </app-map>
      </div>
      <div class="item home-tag-item" ng-hide="viewParams.isLoadingGmaps || viewParams.errorLoadingGmaps">
          <div class="button-bar">
            <button class="button button-assertive button-full home-cta" href="#" ng-click="tagPopOver()">
              <i class="fa fa-map-marker fa-1x"></i>
              Tag Here
            </button>
            <button class="button button-assertive button-full home-cta" href="#" ng-click="reloadMap()">
              <i class="fa fa-refresh fa-1x"></i>
              Reload Map
            </button>

          </div>
    </div>

    </div>
  </ion-content>
