<ion-content class="has-header view-content" style="margin-top: 44px;" scroll="true" >
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="loadLocations({pulled: true})">
      </ion-refresher>
      <div class="no-content no-list-locations" ng-hide="locationFeed.length > 0">
        <h3>No Locations to show</h3>
      </div>
      <ion-list class="location-feed" can-swipe="false">
          <!-- Check in -->
          <ion-item class="item-avatar" ng-repeat="l in locationFeed" ng-show="locationFeed.length > 0" ui-sref="app.tc.location({locationId: l._id})">
              <img src="./img/placeholders/avatars/sample-location-avi.jpg" alt="Avatar" img-cache>
              <div class="media-body">
                  <p class="push-bit">
                      <strong><a href="#">{{::l.name | toStartCase}}</a> </strong>
                  </p>
                  <p class="tagged-by-alt-text">
                    {{::l.category}}
                  </p>
                  <p class="tagged-by-alt-text pull-right">
                    <button class="button button-clear button-positive button-small" ng-click="popCheckIn($event, {payload: l})">Check-in</button>
                  </p>
              </div>
              <div class="media-action-score">
                      <a class="button-block">
                        <i class="fa fa-star-o icon-assertive"></i>
                        <span class="icon-assertive">0</span>
                      </a>
                      <a class="button-block">
                        <i class="icon ion-checkmark icon-default"></i>
                        <span class="icon-default">0</span>
                      </a>
              </div>
          </ion-item>

      </ion-list>
</ion-content>