
<ion-content class="has-header view-content" scroll="true">
  <!-- User Profile Header -->
  <!-- For an image header add the class 'content-header-media' and an image as in the following example -->
  <div class="location-profile content-header content-header-media">
      <div class="header-section">
          <div class="img-rounded" style="background-image : url('./img/placeholders/avatars/sample-location-avi.jpg')">
          </div>
          <div class="header-body">
            <h1>{{locationData.name | toStartCase}}</h1>
            <p city-state="locationData">{{locationData.formatted_address}}</p>
          </div>
      </div>
      <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
  </div>
  <div class="block" style="padding: 0">

    <div class="row block score-bar">
      <div class="col-33">
        <div class="round-icon">
          <i class="fa fa-star-o"></i>
        </div>
        <span class="xtx">0</span>
        <span class="xtxx yellow-round-icon">
          points
        </span>

      </div>
      <div class="col-33">
        <div class="round-icon">
          <i class="fa fa-thumbs-o-up"></i>
        </div>

        <span class="xtx">0</span>
        <span class="xtxx green-round-icon">
          good
        </span>

      </div>
      <div class="col-33">
        <div class="round-icon">
          <i class="fa fa-thumbs-o-down"></i>
        </div>
        <span class="xtx">0</span>
        <span class="xtxx red-round-icon">
          poor
        </span>

      </div>

    </div>
    <div class="location-page-tab-bar row">
      <div class="col-33">
        <a class="" tooltip="Description">
          <i class="fa fa-newspaper-o"></i>
          Info
        </a>
      </div>
      <div class="col-33">

          <a class="" tooltip="Reviews">
            <i class="icon ion-checkmark"></i>
            Reviews
          </a>
      </div>
      <div class="col-33">

          <a class="" tooltip="Direction">
            <i class="icon ion-map"></i>
            Directions
          </a>
      </div>
    </div>
    <div class="row">
      <div class="col stb" stretch-to-bottom>
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Info</span>
            <p readonly="readonly">
              {{::locationData.description}}
            </p>
          </label>
          <label class="item item-input">
            <span class="input-label">Category</span>
            <p>
              {{::locationData.category | joinlist}}
            </p>
          </label>
          <label class="item item-input">
            <span class="input-label">Specials</span>
            <p>
              {{::locationData.specials | joinlist}}
            </p>
          </label>
        </div>
      </div>
    </div>
  </div>


</ion-content>