<ion-content class="has-header view-content" style="margin-top: 44px;" scroll="true">
      <div class="no-content no-list-locations">
        <h3>No Locations to show</h3>
      </div>
      <ul class="list location-feed">
          <!-- Check in -->
          <li class="item item-avatar" ng-repeat="l in locationFeed">
              <img src="./img/placeholders/avatars/avatar3.jpg" alt="Avatar" class="img-circle" img-cache>
              <div class="media-body">
                  <p class="push-bit">
                      <span class="text-muted pull-right">
                          <small>1 hour ago</small>
                          <span class="text-success" data-toggle="tooltip" title="From Mobile"><i class="fa fa-mobile"></i></span>
                      </span>
                      <strong><a href="page_ready_user_profile.html">Adventurer</a> checked in at <a href="javascript:void(0)">Cafe-Bar</a>.</strong>
                  </p>
                  <div id="gmap-checkin" class="gmap push"></div>
                  <p>
                      <a href="javascript:void(0)" class="button button-small button-default"><i class="fa fa-thumbs-o-up"></i> Like</a>
                      <a href="javascript:void(0)" class="button button-small button-default"><i class="fa fa-comments-o"></i> Comment</a>
                      <a href="javascript:void(0)" class="button button-small button-default"><i class="fa fa-share-square-o"></i> Share</a>
                  </p>
              </div>
          </li>

      </ul>
</ion-content>