<ion-content class="has-header view-content" style="margin-top: 44px;" scroll="true">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="loadLocations({pulled: true})">
      </ion-refresher>
      <div class="no-content no-list-locations" ng-hide="locationFeed.length > 0">
        <h3>No Locations to show</h3>
      </div>
      <ion-list class="location-feed" can-swipe="false">
          <!-- Check in -->
          <ion-item class="item-avatar" ng-repeat="l in locationFeed" ng-show="locationFeed.length > 0" ui-sref="app.tc.location({locationId: l._id})">
              <img src="./img/placeholders/avatars/avatar3.jpg" alt="Avatar" class="img-circle" img-cache>
              <div class="media-body">
                  <p class="push-bit">
                      <span class="text-muted pull-right">
                          <small>1 hour ago</small>
                          <span class="text-success" data-toggle="tooltip" title="From Mobile"><i class="fa fa-mobile"></i></span>
                      </span>
                      <strong><a href="page_ready_user_profile.html">{{l.name}}</a> on tagChief since <a href="javascript:void(0)">{{l.dateAdded}}r</a>.</strong>
                  </p>
                  <div id="gmap-checkin" class="gmap push"></div>
                  <p>
                      <a href="javascript:void(0)" class="button button-small button-default" ng-click="openCheckInModal($event, l._id)"><i class="fa fa-comments-o"></i> Check In</a>
                      <a href="javascript:void(0)" class="button button-small button-default"><i class="fa fa-share-square-o"></i> Share</a>
                  </p>
              </div>
          </ion-item>

      </ion-list>
</ion-content>