
  <ion-content class="view-content splash-first" scroll="false" data-ibg-bg="./img/backgrounds/background.jpg" >
    <div vegas style="width: 100%; height: 100%; position: absolute"></div>
    <div class="row">
      <div class="col">

        <div class="desc-box">
          <div class="talk-well">
            <img src="./img/logo.png">
            <h3>Discover, Share, Enjoy</h3>
            <p>
              Discover great locations and share your experiences with your friends as it happens!
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="s-c">
      <div class="splash-doc">
        <div class="splash-actions" ng-style="splashActionDiv">
          <a ui-sref="app.auth.login" class="button button-assertive button-block" ng-class="{'button-full': splashImgIsP, 'button-150': !splashImgIsP}">Sign in</a>
          <a ui-sref="app.auth.register" class="button button-dark button-block" ng-class="{'button-full': splashImgIsP, 'button-150': !splashImgIsP}">Join tagChief</a>
        </div>
      </div>
    </div>
  </ion-content>
