<div class="list">
  <label class="item item-input item-stacked-label">
    <span class="input-label">First Name</span>
    <input type="text" placeholder="" ng-model="userData.firstname">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Last Name</span>
    <input type="text" placeholder="" ng-model="userData.lastname">
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <p>{{::userData.email}}</p>
  </label>
  <label class="item item-input item-stacked-label">
    <span class="input-label">Phone Number</span>
    <p>{{::userData.phoneNumber}}</p>
  </label>
</div>