<div>
  <div class="map-container" ng-hide="isLoadingGmaps"></div>
  <div ng-show="isLoadingGmaps">
    <p class="map-icon-holder">
      <i class="icon ion-map"></i>
    </p>
    <p>
      <button class="button button-outline button-dark is-loading-btn" ng-show="isLoadingGmaps && !errorLoadingGmaps" ng-disabled="isLoadingGmaps"  ng-class="{'animation-pulse': false}">Loading Maps</button>
      <button class="button button-dark is-loading-btn" ng-show="errorLoadingGmaps" ng-click="createMap()">Reload Map</button>
    </p>
  </div>

</div>