
<ion-content class="has-header view-content" scroll="true">
  <!-- User Profile Header -->
  <!-- For an image header add the class 'content-header-media' and an image as in the following example -->
  <div class="location-profile content-header content-header-media">
      <div class="header-section">
          <h1>{{locationData.name}}</h1>
          <p city-state="locationData">{{locationData.formatted_address}}</p>
      </div>
      <img src="img/placeholders/headers/profile_header.jpg" alt="header image" class="animation-pulseSlow">
      <!-- For best results use an image with a resolution of 2560x248 pixels (You can also use a blurred image with ratio 10:1 - eg: 1000x100 pixels - it will adjust and look great!) -->
  </div>
  <div class="block" style="padding: 0">

    <div class="row block score-bar">
      <div class="col">
        <div class="round-icon yellow-round-icon">
          <i class="icon ion-trophy"></i>
        </div>
        0

      </div>
      <div class="col">
        <div class="round-icon green-round-icon">
          <i class="icon ion-thumbsup"></i>
        </div>
        0

      </div>
      <div class="col">
        <div class="round-icon red-round-icon">
          <i class="icon ion-thumbsdown"></i>
        </div>
        0

      </div>

    </div>
    <div class="row">
      <div class="col">
        <div class="button-bar">
          <a class="button icon ion-more button-calm" tooltip="Description"></a>
          <a class="button icon ion-checkmark button-calm" tooltip="Reviews"></a>
          <a class="button icon ion-star button-calm" tooltip="Offers"></a>
          <a class="button icon ion-map button-calm" tooltip="Direction"></a>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="list">
          <label class="item item-input">
            <span class="input-label">Info</span>
            <p readonly="readonly">
              {{locationData.description}}
            </p>
          </label>
          <label class="item item-input">
            <span class="input-label">Category</span>
            <p>
              {{locationData.category | joinlist}}
            </p>
          </label>
          <label class="item item-input">
            <span class="input-label">Specials</span>
            <p>
              {{locationData.specials | joinlist}}
            </p>
          </label>
        </div>
      </div>
    </div>
  </div>


</ion-content>