

  <ion-content class="login-form animation-fadeInQuickInv auth-content" scroll="false" has-header="false" padding="false" id="login-modal" ng-init="isLogin = true">
    <div id="login-container" class="animation-fadeIn">
                <!-- Login Title -->
                <div class="login-title text-center">
                    <div class="auth-logo-div">
                      <img src="img/logo.png">
                    </div>
                    <h4>Discover, Share, Enjoy</h4>
                </div>
                <!-- END Login Title -->

                <!-- Login Block -->
                <div class="block push-bit">
                    <!-- Login Form -->
                    <div class="list">
                      <label class="item item-input">
                        <i class="icon ion-at placeholder-icon"></i>
                        <input type="text" placeholder="Username / Email / Phone Number" autofocus required>
                      </label>
                    </div>
                    <button type="submit" class="button button-block" >Request Password</button>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                          <div class="button-bar">
                            <a type="submit" class="button button-clear button-dark" ui-sref="app.auth.login">Login</a>
                            <a type="submit" class="button button-clear button-dark" ui-sref="app.auth.register">Register</a>
                          </div>
                        </div>
                    </div>
                    <!-- END Login Form -->
                </div>
                <!-- END Login Block -->
    </div>
  </ion-content>
