

  <ion-content class="login-form" scroll="false" has-header="false" padding="false"  ng-init="isLogin = true">
    <img src="img/backgrounds/login_full_bg.jpg" alt="Login Full Background" class="full-bg animation-pulseSlow">
    <div id="login-container" class="animation-fadeIn">
                <!-- Login Title -->
                <div class="login-title text-center">
                    <h1><img src="img/logo.png"></h1>
                </div>
                <!-- END Login Title -->

                <!-- Login Block -->
                <div class="block push-bit">
                    <!-- Login Form -->
                    <div class="list">
                      <label class="item item-input item-floating-label">
                        <span class="input-label"> Email</span>
                        <input type="text" placeholder="Email" ng-model="form.email" required autofocus>
                      </label>
                      <label class="item item-input item-floating-label">
                        <span class="input-label">Password</span>
                        <input type="password" placeholder="Password" ng-model="form.password" required>
                      </label>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">
                          <button type="submit" class="button button-block button-clear button-assertive" ng-click="loginBtn(form)" ng-disabled="(form.email.length == 0) || (form.password.length == 0) ">Login</button>
                          <div class="button-bar">
                            <a type="submit" class="button button-clear button-stable" ui-sref="app.auth.register">Join tagChief</a>
                            <a type="submit" class="button button-clear button-stable" ui-sref="app.auth.forgotpw">Forgot Password?</a>
                          </div>
                        </div>
                    </div>
                    <!-- END Login Form -->
                </div>
                <!-- END Login Block -->
    </div>
  </ion-content>
