

  <ion-content class="login-form auth-content" scroll="false" has-header="false" padding="false"  ng-init="isLogin = true">
    <div id="login-container" class="animation-fadeIn">
                <!-- Login Title -->
                <div class="login-title text-center">
                    <div class="auth-logo-div">
                      <img src="img/logo.png">
                    </div>
                    <h4>Discover, Share, Enjoy</h4>
                </div>
                <!-- END Login Title -->

                <!-- Login Block -->
                <div class="block push-bit">
                    <h4>LOGIN</h4>
                    <!-- Login Form -->
                    <div class="list list-inset">
                      <label class="item item-input">
                        <i class="icon ion-at placeholder-icon"></i>
                        <input type="text" placeholder="Email" ng-model="form.email" required>
                      </label>
                      <label class="item item-input">
                        <i class="icon ion-key placeholder-icon"></i>
                        <input type="password" placeholder="Password" ng-model="form.password" required>
                      </label>
                        <button type="submit" class="button button-block" ng-click="loginBtn(form)" ng-disabled="(form.email.length == 0) || (form.password.length == 0) ">Login</button>
                    </div>
                    <div class="form-group form-actions">
                        <div class="col-xs-12 text-right">

                          <div class="button-bar">
                            <a type="submit" class="button button-clear button-stable" ui-sref="app.auth.register">Join tagChief</a>
                            <a type="submit" class="button button-clear button-stable" ui-sref="app.auth.forgotpw">Forgot Password?</a>
                          </div>
                        </div>
                    </div>
                    <!-- END Login Form -->
                </div>
                <!-- END Login Block -->
    </div>
  </ion-content>
