<div class="list">
  <label class="item item-input">
    <input type="text" placeholder="Name" ng-model="tagInput.name" autofocus>
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Category" ng-model="tagInput.category">
  </label>
  <label class="item item-input">
    <input type="text" placeholder="Specials" ng-model="tagInput.specials">
  </label>
  <label class="item item-input">
    <textarea placeholder="Description" ng-model="tagInput.description"></textarea>
  </label>
</div>
