/* Empty. Add your own CSS if you like */

.item-complex .item-content {
  background-color: transparent;
}

.sidebar-nav .item {
  background-color: transparent;
  border: none;
}

.bar-header {
  /*  border-bottom-color: #f2eceb;
    border-bottom: 1px solid #eaedf1;
    background-color: #fcfafa;*/
}

.search-header input {
  color: white;
  font-size: 16px;
}

.nav-buttons-primary {
  width: 95px;
}

.nav-buttons-primary .button {
  min-width: 20px;
  color: #e74c3c !important;
  float: left;
}

.item-avatar > i:first-child {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 50%;
}

.map-holder {
  margin: 0;
}

.map-area {
  padding: 0;
  width: 100%;
  height: 400px;
}

a.home-cta {
  background-color: #e74c3c;
  color: white;
  opacity: 1;
}

a:hover.home-cta {
  opacity: 0.7;
  color: white;
}

.view-content {
  /*background-color: #f2eceb;*/
  /*background-color: #aa0023;*/
  background-color: #fff;
  /*background-color: #F5B0A4;*/
}

#login-container {
  position: absolute;
  width: 100%;
  top: 0px;
  left: 0;
  margin-left: 0;
  z-index: 1000;
}

#login-container .block {
  background-color: transparent;
  padding: 0px;
}

#login-container .login-title {
  background-color: transparent;
}

#login-container input {
  background-color: transparent;
  color: #fff;
}

#login-container .form-bordered .form-group.form-actions {
  background-color: rgba(252, 250, 250, 0.7);
}

.header-item .left-buttons img {
  height: 100%;
}

.header-item .left-buttons .title {
  text-align: left;
}

.content-header h1, .content-header h2 {
  font-weight: 400;
  z-index: 200;
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  color: #ffffff;
  /*background: url("../img/template/ie8_opacity_dark_60.png") repeat;*/
  /*background: rgba(0, 0, 0, 0.6);*/
}

.location-profile.content-header {
  margin: 0px;
  margin-top: 44px;
  background-color: #c70036;
  border: none;
}

.row.block {
  display: flex;
  text-align: center;
  padding: 10px;
  margin-bottom: 0;
}

.row.block.score-bar {
  height: 90px;
  background-color: #13415b;
  border: none;
  position: relative;
  border-bottom: solid 1px #516977;
}

.row.block i {
  font-size: 28px;
  color: #13415b;
}

.round-icon {
  border: solid 2px #fff;
  height: 46px;
  background-color: #FFF;
  width: 46px;
  border-radius: 23px;
  margin: auto;
  padding: 7px;
  font-size: 19px;
}

.row.location-page-tab-bar {
  background-color: #1c3b50;
  margin-top: 0;
}

.location-page-tab-bar a {
  width: 100%;
  text-align: center;
  display: block;
  font-size: 16px;
  padding: 10px;
  color: white;
}

.location-page-tab-bar div:nth-child(even) a {
  border-left: solid 1px #516977;
  border-right: solid 1px #516977;
}

.location-page-tab-bar a:active,
.location-page-tab-bar a:focus,
.location-page-tab-bar a:hover {
  color: #e74c3c;
}

.score-bar .green-round-icon {
  color: #17DC5F;
  font-size: 12px;
  /*border: solid 1px #fff;*/
}

.score-bar .red-round-icon {
  color: #F86565;
  font-size: 12px;
  /*border: solid 1px #fff;*/
}

.score-bar .yellow-round-icon {
  color: #FCDE00;
  font-size: 12px;
  /*border: solid 1px #fff;*/
}

.score-bar .xtxx {
  display: block;
  line-height: 0;
  opacity: 0.8;
}

.score-bar .xtx {
  color: #fff;
  display: block;
}

.block {
  background-color: #f2eceb;
  border: none;
}

.block [readonly] {
  background-color: transparent !important;
}

.s-c {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 4;
}

.logobox {
  position: absolute;
  top: 20px;
  left: 50%;
  width: 211px;
  margin-left: -105px;
}

.logobox img {
  display: block;
}

.logobox h3 {
  font-size: 16px;
  font-weight: bolder;
  text-align: center;
}

.is-request-loading {
  position: absolute;
  z-index: 99;
  top: -9px;
}

.is-request-loading i {
  color: #fff;
  font-size: 16px;
}

.header-logo {
  position: absolute;
  top: 0;
  z-index: 10;
  height: 44px;
}

.header-logo img {
  height: 44px;
  top: -5px;
  position: relative;
}

.no-content {
  text-align: center;
  margin: 10px auto;
}

.tooltip-marker {
  border: thin 1px #eee;
  background-color: #FFFBF0;
  padding: 5px;
  width: 200px;
}

.home-tag-item {
  padding: 0;
}

.home-tag-item button {
  margin: 0 !important;
}

p.map-icon-holder {
  font-size: 801%;
  text-align: center;
}

button.is-loading-btn {
  margin: 0px auto;
  width: 150px;
  position: relative;
  display: block;
}

.desc-box {
  width: 90%;
  top: 60px;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.talk-well {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  padding: 2px;
}

.auth-content {
  background: #c70036;
  /* Old browsers */
  background: -moz-linear-gradient(top, #c70036 0%, #9f0021 39%, #9f001e 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #c70036), color-stop(39%, #9f0021), color-stop(100%, #9f001e));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #c70036 0%, #9f0021 39%, #9f001e 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #c70036 0%, #9f0021 39%, #9f001e 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #c70036 0%, #9f0021 39%, #9f001e 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #c70036 0%, #9f0021 39%, #9f001e 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c70036', endColorstr='#9f001e',GradientType=0 );
  /* IE6-9 */
}

.auth-logo-div {
  background-color: white;
  width: 10em;
  height: 10em;
  display: block;
  border-radius: 12em;
  margin: 0 auto;
  padding-top: 2.5em;
}

.auth-logo-div img {
  width: 90%;
}

.login-title h4 {
  color: white;
}

.push-bit a {
  text-decoration: none;
}

.push-bit h4 {
  color: #fff;
  text-align: center;
  font-weight: 400;
}

.push-bit .list-inset .item, .push-bit .list-inset .item:first-child {
  border-radius: 18px;
  margin: 10px 5px;
  background-color: transparent;
}

.push-bit .list-inset .item input:focus {
  background-color: #ba2647;
}

.push-bit .list-inset {
  background-color: transparent;
}

.push-bit .list button {
  background-color: #ff4b5a;
  border-radius: 18px;
  margin: 5px;
  width: 98%;
  color: #fff;
  font-weight: bolder;
  display: block;
  -webkit-box-align: center;
  text-align: center;
  margin-top: 18px;
  border-color: #940015;
}

.bar-header.deep-ugly-red {
  border-bottom-color: #52152a;
  border-bottom: 1px solid #52152a;
}

.deep-ugly-red {
  background-color: #52152a;
}

.nav-bar-title h4 {
  color: #fff;
  font-weight: 400;
}

.tabs-striped.tabs-color-assertive .tab-item.tab-item-active {
  color: #aa0023;
  border: 0 solid #fff;
  border-top-width: 2px;
}

.location-feed .item-content > img:first-child {
  border-radius: 0;
  max-width: 110px;
  max-height: 86px;
  width: 110px;
  height: 92px;
  top: 0px;
  left: 7px;
}

.location-feed .item-complex {
  min-height: 76px;
}

.location-feed .item-complex .item-content {
  padding: 12px 49px 12px 125px;
}

.location-feed .media-action-score {
  max-width: 48px;
  position: absolute;
  right: 0;
  top: 0;
}

.location-feed .media-action-score i {
  padding: 0;
  margin: 0;
  height: 20px;
  font-size: 22px;
}

.location-feed .media-action-score a {
  margin: 10px 3px;
  position: relative;
}

.location-feed .item {
  border-top: solid 2px rgba(32, 32, 32, 0.61);
}

.location-feed .item:first-child {
  margin-top: 2px;
  border: none;
}

.icon-assertive {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #ef473a;
}

.icon-default {
  border-color: transparent;
  background: none;
  box-shadow: none;
  color: #8f9095;
}

.media-action-score span {
  font-size: 12px;
  display: block;
  position: absolute;
  top: 15px;
  text-align: center;
  margin: 0 auto;
  width: 48px;
  left: 50%;
  margin-left: -24px;
}

.media-body p.tagged-by-alt-text {
  font-size: 12px;
}

.content-header-media .header-section {
  background-color: transparent;
  padding-left: 113px;
}

.header-section div.img-rounded {
  position: absolute;
  left: 27px;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: solid 2px #fff;
}

.header-section .header-body {}

.content-header-media {
  height: 156px;
}

.location-feed .item-complex .item-content {
  padding: 12px 61px 12px 125px;
}

.notification-feed .media-action-score {
  max-width: 60px;
  position: absolute;
  right: 0;
  top: 0;
}